<h1>Welcome <%=current_user.email%></h1>

<!-- For Displaying Search Bar -->
<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search products..." %>
  <%= submit_tag "Search" %>
<% end %>


<!--  For Displaying Filtered Products -->
<%if @query.present?%>
<h2>Filtered Products</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= product.name %></strong>
        <p><%= product.description %></p>
        <p>Price: <%= product.price %></p>
        <% if product.image.attached? %>
          <%= image_tag product.image.variant(resize: "150x150") rescue nil %>
        <% else %>
          <p>No image attached</p>
        <% end %>
    </li>
  <% end %>
</ul>
<%end%>


<!-- For Displaying Prodcuts and Categories Seperately -->

<!-- <h2>Categories:</h2>
<ul>
  <%# @categories.each do |category| %>
    <li><%#= category.name %></li>
    <%#if category.name='Mobile'%>
    <%# @products.where(category:'Mobile') each do |product|%>
    <%#end%>
    <%#end%> -->
  <%#end%>
<!--
</ul>

<h2>Products:</h2>
<ul>
  <%# @products.each do |product| %>
    <li>
      <strong><%#= product.name %></strong>
      <p><%#= product.description %></p>
      
      <%# if product.image.attached? %>
        <%#= image_tag product.image.variant(resize: "150x150") rescue nil %>
      <%# else %>
        <p>No image attached</p>
      <%# end %>
      <p style="color: brown;:"><strong >Price: <%#= product.price %></strong></p>
    </li>
  <%# end %>
</ul>  -->

<!-- For Displaying Prodcuts and Categories in Nested Form -->

 <% @categories.each do |category| %>
  <h2><%= category.name %></h2>

  <ul>
    <% category.products.each do |product| %>
    <%# @products.where(category_id: category.id).each do |product| %>
      <li>
        <strong><%= product.name %></strong>
        <p><%= product.description %></p>
        <p>Price: <%= product.price %></p>
        <% if product.image.attached? %>
          <%= image_tag product.image.variant(resize: "150x150") rescue nil %>
        <% else %>
          <p>No image attached</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
